<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BigData4Tourism: Tourism Data Collector</title>
    <meta charset="utf-8"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>

<h1>Tourism Data Collector</h1>

<div class="page-content">
    A CSV file manager written in Java.<br/><br/>
    <small>Login with your username and password.</small><br/><br/>
</div>

<div class="page-content">
    <div th:if="${param.error != null}">
        <strong><small>Invalid username and password.</small><br/><br/></strong>
    </div>
    <div th:if="${param.logout != null}">
        <strong><small>You have been logged out.</small><br/><br/></strong>
    </div>
    <form name='f' action='/login' method='POST'>
        <div class='custom-file-upload-container'>
            <input class='button button2' type='text' name='username' placeholder='Username'/>
            <input class='button button2' type='password' name='password' placeholder='Password'/>
            <input class='button' name="submit" type="submit" value="Login"/>
            <div><small><br/><a href="mailto:info@davinci.bz.it?subject=Tourism%20Data%20Collector%3A%20New%20user%20request">No login data? Write us!</a><br/><a href="/lost">Forgot your username and password?</a></small></div>
        </div>
    </form>
</div>

<br clear="all"/>

<div class="page-content">
    <br/><a target="_blank" href="https://www.idm-suedtirol.com"><img src="images/logo_idm.jpg" alt="IDM"/></a> &nbsp;&nbsp;&nbsp; <a target="_blank" href="http://davinci.bz.it"><img src="images/logo_davinci-bigdata.jpg" alt="DAVINCI - Big Data"/></a> &nbsp;&nbsp;&nbsp; <a target="_blank" href="http://www.provincia.bz.it/europa/it/finanziamenti-ue/fesr-2014-2020.asp"><img src="images/logo_efre-fesr.jpg" alt="efre - fesr"/></a>
</div>

</body>
</html>
