<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>BigData4Tourism: Tourism Data Collector</title>
	<meta charset="utf-8"/>
	<link href="css/style.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<style>
	.material-icons { vertical-align: middle; }
	.material-icons.cached { color: #eeeeee; }
	.material-icons.done { color: #587825; }
	.material-icons.error { color: #f44336; }
	.stats { display: inline-block; vertical-align: middle; font-size: 1em; }
	.info-link { color: #6f6f6e; ]
	</style>
</head>
<body>

	<div class="page-logout"><a href="" th:href="@{/logout}">Logout</a></div>

	<h1>Tourism Data Collector</h1>

	<div th:if="${message}">
		<div class="page-content">
			<strong><span th:utext="${message}"/></strong>
		</div>
	</div>

	<div class="page-content">
		A CSV file manager written in Java.<br/><br/>
        <small>Please set up your CSV file in the following order. For example:<br/><br/><pre>"arrival","departure","country","adults","children","destination","category","booking","cancellation","submitted_on","cancelled_on"<br/>"2015-07-05","2015-07-07","","2","0","21027","1","0","0","2015-01-01 13:33:00",""<br/>"2015-08-01","2015-08-05","","3","0","21027","1","0","0","2015-04-01 12:00:00",""<br/>"2015-08-01","2015-08-05","","3","0","21027","1","0","0","2015-04-01 12:00:00","2015-04-01 14:00:00"</pre></small>
	</div>

	<div id="response"></div>

    <br/><br/>

	<form method="POST" enctype="multipart/form-data" action="">
		<div class="custom-file-upload-container">
      <div class="custom-file-upload">
  			<input type="file" id="file" name="file"/>
  		</div>
      <input class="button" type="submit" value="Upload"/>
      <div>
          <br/>
          <div id="progressing">
			  <progress max="100"></progress>
			  <small><span id="progress_percent">0</span>%</small>
		  </div>
		  <div id="processing" class="hidden">
			  <small>Processing data</small> <span class="loader"></span>
		  </div>
      </div>
    </div>
	</form>

	<div th:if="${#lists.size(files)}">

		<br/>

		<div class="page-content">
			Files overview<br/><br/>
		</div>

		<div class="page-content">
			<table class="table" width="579" align="center">
				<th:block th:each="file : ${files}">
					<tr>
						<td width="25%" th:text="${file.get('filenameShorten')}">filenameShorten</td>
						<td width="25%" align="center" th:text="${file.get('uploadedDate')}">uploadedDate</td>
						<td width="25%" align="center">
							<i class="material-icons" th:classappend="${file.get('status')}" th:text="${file.get('status')}">cached</i> <span th:if="${file.get('notValidRows')} != '0'" class="stats">(<span th:text="${file.get('notValidRows')}">0</span>/<span th:text="${file.get('totalRows')}">0</span>)</span> <a th:if="${file.get('notValidRows')} != '0'" class="info-link" target="_blank" th:href="@{/report/{filename}(filename=${file.get('filenameReport')})}"><i class="material-icons">info</i></a>
						</td>
						<td width="25%" align="center"><a th:href="@{/del/{filename}(filename=${file.get('filename')})}" onclick="return confirm('Are you sure to delete this set?')">Delete set</a></td>
					</tr>
				</th:block>
			</table>
		</div>

	</div>

    <div>

        <br/>

        <div class="page-content">
            Users activity<br/><br/>
        </div>

        <div class="page-content">
            <table class="table" width="579" align="center" th:each="year: ${#numbers.sequence(2015,maxYear)}">
                <tr>
                    <td>
                        <h2 th:text="${year}">Year</h2>
                        <table width="100%">
                            <thead>
                            <tr>
                                <th:block th:each="month: ${#numbers.sequence(0,11)}">
                                    <td align="center" th:text="${shortMonths[month]}">Month</td>
                                </th:block>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="username : ${aggs}">
                                <th:block th:each="month: ${#numbers.sequence(1,12)}">
                                    <td align="center">
                                        <span th:if="${aggs.get('__${username.key}__').get('__${year}__-__${month}__')} == 1" th:text="${aggs.get('__${username.key}__').get('__${year}__-__${month}__')}">0</span>
                                        <span th:if="${aggs.get('__${username.key}__').get('__${year}__-__${month}__')} != 1">0</span>
                                    </td>
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <br clear="all"/>

	<div class="page-content">
		<br/><a target="_blank" href="https://www.idm-suedtirol.com"><img src="images/logo_idm.jpg" alt="IDM"/></a> &nbsp;&nbsp;&nbsp; <a target="_blank" href="http://davinci.bz.it"><img src="images/logo_davinci-bigdata.jpg" alt="DAVINCI - Big Data"/></a> &nbsp;&nbsp;&nbsp; <a target="_blank" href="http://www.provincia.bz.it/europa/it/finanziamenti-ue/fesr-2014-2020.asp"><img src="images/logo_efre-fesr.jpg" alt="efre - fesr"/></a>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
    <script>$('input[type=file]').customFile();</script>

</body>
</html>
