name: ci big-data-for-tourism

on:
  push:
    branches-ignore: [ dev, master ]
    paths:
      - "README.md"

  pull_request:
    branches: [ dev, master ]
    paths-ignore:
      - "README.md"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven

      - name: Test with Maven
        run: mvn -B -U clean test
